.book_banner {
  width: 100%;
  height: 382px;
  background: url(../img/book_img_02.jpg) center no-repeat;
  margin-top: 74px;
}
.book_banner ~ .content {
  margin-top: 0;
}
.content .body_cont .book_right.right_box {
  background: none;
  width: 100%;
  margin: 0 auto;
  border: none;
  flex: initial;
  padding-right: 0;
}
.content .body_cont .book_right.right_box .right_input_box input {
  background: none;
}
.content .body_cont .book_right.right_box .ptf_priceSel {
  background: #f5f5f5;
}
.content .body_cont .book_right.right_box .ptf_haveSelM > em {
  background: url(../img/jiantou_70.png) no-repeat;
  background-size: 12px 7px;
}
.content .body_cont .book_right.right_box .book_right_txt {
  text-align: center;
  font-family: Raleway-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 56px;
}
.content .body_cont .book_right.right_box .book_right_txt_new {
  text-align: center;
  font-family: Raleway-Medium;
  font-size: 24px;
  color: #333333;
  line-height: 56px;
}
.content h1.content_book {
  text-align: center;
  font-size: 36px;
  color: #333333;
}
.content .body_cont .right_box .right_input_box span.star_red {
  color: #980001;
}
.content .body_cont .right_box .right_input_box textarea {
  color: #2d2d2d;
  width: 100%;
  background: #f5f5f5;
  border: 1px #c2c2c2 solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 155px;
  padding-left: 20px;
  font-size: 16px;
  flex: 1;
  outline: none;
  padding-top: 10px;
}
.container.width900 {
  width: 950px;
}
.container.width553 {
  width: 553px;
}
.container.width800 {
  width: 800px;
}
.book_row {
  margin-left: -21px;
  margin-right: -21px;
}
.book_row .book_row_6 {
  width: 50%;
  padding: 0 21px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.book_right_box {
  width: 100%;
  flex: 1;
  position: relative;
}
.book_right_box .book_box_date {
  width: 34px;
  height: 32px;
  background: url(../img/date_icon_03.jpg) no-repeat;
  background-size: 34px 32px;
  position: absolute;
  right: 19px;
  top: 11px;
}
.right_book_list {
  width: 18.4%;
  margin-right: 2%;
  float: left;
  margin-bottom: 8px;
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
}
.width50_book {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: space-between;
}
.checkbox_icon {
  line-height: 55px;
  float: left;
  text-align: left;
}
.checkbox_icon.width_ck50 {
  width: 45%;
}
.checkbox_icon.width_ck16 {
  width: 16.6666%;
}
.checkbox_icon.active .check_btn {
  width: 22px;
  height: 22px;
  border: 1px #b0b0b0 solid;
  margin-right: 5px;
  display: inline-block;
  margin-top: 16px;
  float: left;
  position: relative;
}
.checkbox_icon.active .check_btn:after {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #B0B0B0;
  content: " ";
  display: block;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
}
.checkbox_icon .check_btn {
  width: 22px;
  height: 22px;
  border: 1px #b0b0b0 solid;
  margin-right: 5px;
  display: inline-block;
  margin-top: 16px;
  float: left;
  position: relative;
}
.right_book_list:nth-child(5n) {
  margin-right: 0;
}
.content h1.content_book.font30 {
  font-size: 40px;
}
.right_input_box_new {
  font-size: 13px;
  color: #474747;
  line-height: 50px;
  text-align: center;
}
.right_input_box_new a {
  font-weight: bold;
}
.content .body_cont .right_box .right_btn_width {
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background: #664d48;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.left_ck {
  line-height: 35px;
  float: left;
}
.left_ck .check_btn {
  width: 14px;
  height: 14px;
  border: 1px #b0b0b0 solid;
  margin-right: 5px;
  display: inline-block;
  margin-top: 10px;
  float: left;
  position: relative;
}
.left_ck .check_btn.active:after {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #B0B0B0;
  content: " ";
  display: block;
  left: 50%;
  margin-left: -3px;
  top: 50%;
  margin-top: -3px;
}
.content .body_cont .lgin_btn {
  margin-top: 18px;
}
.content .body_cont .lgin_btn .right_btn_width {
  width: 47.5%;
  float: left;
  margin-top: 0;
}
.content .body_cont .lgin_btn .left_btn_width {
  width: 47.5%;
  float: right;
  border: 2px #664d48 solid;
  text-align: center;
  font-size: 12px;
  color: #674d47;
  height: 55px;
  line-height: 55px;
}
.right_lgin {
  font-size: 15px;
  color: #474747;
  line-height: 35px;
  float: right;
}
.forgot_close {
  width: 43px;
  height: 36px;
  background: url(../img/close.png);
  position: absolute;
  margin-left: -150px;
  top: 150px;
}
.width300 {
  width: 300px;
}
@media (max-width: 992px) {
  .container.width900 {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container.width900,
  .container.width553 {
    width: 480px;
  }
  .content h1.content_book {
    font-size: 30px;
  }
  .width50_book {
    width: 100%;
    flex: 1;
  }
  .content .body_cont .right_box .right_input_box.right_input_box_new {
    display: block;
    margin-bottom: 18px;
  }
  .width50_book {
    margin-bottom: 18px;
  }
  .content .body_cont .right_box .right_input_box.book_footer {
    display: block;
    position: relative;
    margin-bottom: 5px;
  }
  .content .body_cont .right_box .right_input_box.book_footer label {
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }
  .padd_left {
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .checkbox_icon.width_ck50 {
    padding-left: 10px;
  }
  .book_right_box .book_box_date {
    top: 66px;
  }
  .content .body_cont .right_box .right_input_box label {
    width: 100%;
    position: absolute;
    top: 0;
  }
  .book_right_box {
    padding-top: 55px;
    padding-left: 10px;
  }
  .book_footer_ck {
    width: 100%;
  }
  .book_footer .book_right_box {
    flex: initial;
    padding-top: 55px;
  }
  .book_footer .book_right_box .checkbox_icon.width_ck16 {
    width: 30%;
    padding-left: 10px;
  }
  .forgot_close {
    top: 109px;
    margin-left: -48px;
  }
}
@media (max-width: 480px) {
  .container.width900,
  .container.width553 {
    width: 95%;
  }
  .content h1.content_book {
    font-size: 24px;
  }
  .book_row {
    margin-left: -21px;
    margin-right: -21px;
  }
  .book_row .book_row_6 {
    width: 100%;
    padding: 0 21px;
    float: left;
  }
  .forgot_close {
    top: 93px;
    margin-left: 5px;
    width: 43px;
    height: 36px;
    background: url(../img/close.png) no-repeat;
    background-size: 35px 27px;
  }
  .content h1.content_book.font30 {
    font-size: 30px;
  }
}
.content .body_cont .right_box .right_btn_new {
  height: 55px;
  width: 310px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background: #664d48;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 0 auto;
}
.book_right_btn {
  width: 100%;
  border: 1px solid #999999;
  height: 57px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 18px;
  color: #333333;
  text-align: center;
  margin-bottom: 40px;
  line-height: 57px;
  cursor: pointer;
}
.book_right_btn:hover {
  color: #fff;
  background: #674d47;
}
.book_right_btn.active {
  color: #fff;
  background: #674d47;
}
