h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
}

p,body{
	margin:0;
	padding:0;
}

ul,li{
	list-style: none;
	margin:0;
	padding:0;
}

.container{
	width:1400px;
	margin:auto;
}

@media (max-width: 1500px){
	.container{
		width:1170px;
	}
}

@media (max-width: 1170px){
	.container{
		width:992px;
	}
}

@media (max-width: 992px){
	.container{
		width:768px;
	}
}

@media (max-width: 768px){
	.container{
		width:480px;
	}
}

@media (max-width: 480px){
	.container{
		width:95%;
	}
}