@block_color:#000;
@hread_color:#23b73d;
@white_color:#fff;
@hread_height:2.2rem;
@dustcolor:#f5f5f5;
@eithcolor:#888;
@nine_color:#999;
@blk_color:#000;
@six_color:#666;
@rem_num:40rem;
@colorfour:#f17f42;
@coloreight:#848484;
@colordcol:#d96d00;
@colordf38:#f38618;
@colordf68:#686868;
@color5353:#535353;
.reactcss(){
    body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
    body{background:#f5f5f5;-webkit-text-size-adjust:100%; font-family: "microsoft yahei"; overflow-x: hidden;}
    a{color:#2d374b;text-decoration:none}
    a:hover{color:inherit;text-decoration:none}
    em{font-style:normal}
    li{list-style:none}
    img{border:0;vertical-align:middle}
    table{border-collapse:collapse;border-spacing:0}
    p{word-wrap:break-word}
    input:focus{
       outline:none;
    }
}
.block_color(){ 
    background:@blk_color;
}
.hread_color(){ 
    background:@hread_color;
}
.dust_color(){
    background:@dustcolor;
}
.white_color(){
    color:@white_color;
}
.nine_color(){
    color:@nine_color;
}
.blk_color(){
    color:@blk_color;
}
.whitebg_color(){
    background:@white_color;
}
.txt_aline(center,@txtleft:center){
    text-align:@txtleft;
}
.txt_aline(left,@txtleft:left){
    text-align:@txtleft;
}
.txt_aline(right,@txtleft:right){
    text-align:@txtleft;
}
.bc(){
    margin-left: auto;
    margin-right: auto;
}
.pa(){
    position: absolute;
}
.pr(){
    position: relative;
}
.pf(){
    position:fixed;
}
.inline(){
    display: inline-block;
}
.border-redio(@number){
    border-radius: @number;
    -moz-border-radius: @number; 
    -webkit-border-radius: @number;
}
.border-cont(@cont){
    box-sizing: @cont;
    -moz-box-sizing: @cont;
    -webkit-box-sizing: @cont;
}
.border(top,@w:1px,@c:#e2e2e2){
    border-width: @w;
    border-color: @c;
    border-style: solid none none none;
}
.border(right,@w:1px,@c:#e2e2e2){
    border-width: @w;
    border-color: @c;
    border-style: none solid none none;
}
.border(bottom,@w:1px,@c:#e2e2e2){
    border-width: @w;
    border-color: @c;
    border-style: none none solid none;
}
.border(left,@w:1px,@c:#e2e2e2){
    border-width: @w;
    border-color: @c;
    border-style: none none none solid;
}
.border(more,@w:1px,@c:#e2e2e2){
    border-width: @w;
    border-color: @c;
    border-style: solid solid solid solid;
}
.margin(@top:1rem,@right:1rem,@bottom:1rem,@left:1rem){
    margin:@top @right @bottom @left;
}
.trans(@pam){
    -webkit-transition: @pam;
    -moz-transition: @pam;
    -ms-transition: @pam;
    -o-transition: @pam;
    transition: @pam;
}
.tranbox(@type:all,@miaoshu:0.5s){
     -webkit-transition: @type @miaoshu;
    -moz-transition: @type @miaoshu;
    -ms-transition: @type @miaoshu;
    -o-transition: @type @miaoshu;
    transition: @type @miaoshu;
}
.rotate(@numrot:180deg){
    transform: rotate(@numrot);
    -ms-transform: rotate(@numrot);             
    -webkit-transform: rotate(@numrot);     
    -o-transform: rotate(@numrot);             
    -moz-transform: rotate(@numrot);
}
.clearfix{
    &:after{
        content: " ";
        display: block;
        clear: both;
    }
}
.fr(){
    float:right;
    display: inline;
}
.fl(){
    float:left;
    display: inline;
}
.fontsize(@sz){
   font-size: @sz;
}
.width100(){
    width: 100%;
}
.pr{
    position: relative;
}
.reactcss();

.container{width: 1400px; margin: 0 auto;}
.headerWrap{
    padding: 24px 0;
    background: #5e433c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    transition: all 1s ease;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 150px;
            align-items: flex-start;
        }
        .headerLogin{
            align-items: flex-end;
            color: #fff;
            a{
                font-size: 12px;
                color: #fff;
                letter-spacing: .3em;
            }
            span{
                color: #fff;
                margin-left: 8px;
                margin-right: 8px;
            }
        }
        .menu{
            display: flex;
            li{
                a{
                    margin: 0 30px;
                    text-decoration: none;
                    color: white;
                    font-size: 12px;
                    letter-spacing: .3em;
                    font-weight: 200;
                }
            }
        }
    }
}
//下拉框
.ptf_seaSelectM{position: relative; width: 100%;line-height: 55px; margin-bottom: 0px;}
.ptf_haveSelM{padding-left:10px; padding-right:25px;    overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 53px; color: #999999;  border: 1px #c2c2c2 solid;   font-size: 12px;}
.ptf_haveSelM span.active{ color: #363636;}
.ptf_haveSelM>em{ background: url(../img/jiantou_70.jpg) no-repeat; background-size:12px 7px;    position: absolute;   right: 12px;    top: 50%;
margin-top: -3.5px; width: 12px; height: 7px;}
.ptf_priceSel{
    border: 1px solid #ddd;
    background-color: #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 54px;
    z-index: 10;
    border-radius: 0 0 5px 5px;
    display: none;
}
.ptf_priceSel ul li{ height: 40px;line-height: 40px; border-bottom: 1px #c2c2c2 solid; font-size: 12px; padding-left: 10px;  width: 100%;  color: #363636;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;
    box-sizing: border-box; cursor: pointer;}
.ptf_priceSel ul li:last-child{ border-bottom: 0;}
.ptf_priceSel ul li:hover{color: #fff; background: #b8aeac;}
.date_list{
    width: 30%;
    margin-right: 5%;
    &:last-child{
        margin-right: 0;
    }
}
.date_sel{
    display: flex;
}
.content{
    padding: 70px 0 ;
    margin-top: 75px;
    h1{
        line-height: 58px;
        color: #000;
        font-size: 24px;
        letter-spacing: 0.5px;
        font-weight: 200;
    }
    p{
        color: #000;
        font-size: 12px;
        line-height: 30px;
    }
    .body_cont{
        display: flex;
        margin-top: 20px;
        .left_nav{
            flex: 23%;
            margin-right: 4%;
            border: 1px #eaeaea solid;
            background: #fff;
            padding-top: 50px;
            padding-bottom: 140px;
            .border-cont(border-box);
            a{
                padding-left: 50px;
                text-align: left;
                line-height: 50px;
                color: #535353;
                font-size: 16px;
                width: 100%;
                .border-cont(border-box);
                display: flex;
                &.active{
                    color: #5e433c;
                }
                &:hover{
                    color: #5e433c;
                }
            }
        }
        .right_box{
            flex: 73%;
            border: 1px #eaeaea solid;
            background: #fff;
            padding: 45px 203px 120px 0;
            .border-cont(border-box); 
            .right_input_box{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-bottom: 18px;
                label{
                    width: 206px;
                    font-size: 16px;
                    color: #2d2d2d;
                    text-align: center;
                    line-height: 55px;
                }
                input{
                    color: #2d2d2d;
                    width: 100%;
                    border: 1px #c2c2c2 solid;
                    .border-cont(border-box); 
                    height: 55px;
                    padding-left: 20px;
                    font-size: 16px;
                    flex:1;
                }
                .date_sel{
                    width: 100%;
                    flex:1;
                }
            }
            .right_btn{
                margin-left: 206px;
                height: 55px;
                line-height: 55px;
                text-align: center;
                color: #fff;
                font-size: 12px;
                background: #664d48;
                display: flex;
                justify-content:center;
                align-items:center; 
                margin-top: 70px; 
            }
        }
    }
}
.footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: #5e433c;
}
header nav{
    width: 35px;
    height: 27px;
    display: block;
    position: absolute;
    right: 10px;
    z-index: 99;
    display: none;
    cursor: pointer;
}
header nav b{
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.3s;
}
header nav b:nth-child(1){
    top: 0;
}
header nav b:nth-child(2){
    top: calc(50% - 4px);
}
header nav b:nth-child(3){
    bottom: 0;
}
header nav.active b:nth-child(1){
    transform: translateY(11px)rotate(45deg);
}
header nav.active b:nth-child(2){
    transform: translateX(50%);
    width: 0;
}
header nav.active b:nth-child(3){
    transform: translateY(-13px)rotate(-45deg);
}
@media (max-width: 1500px){
    .container{
        width:1170px;
    }
    .homeHero{
        height:600px;
    }
    .homeGallery{
        height:600px;
    }
    .content .body_cont .right_box{
        padding-right: 100px;
    }
    .content{
        padding: 50px 0;
    }
    .headerWrap .container .menu li a{
        margin: 0 20px;
    }
    .headerWrap{
        padding-left: 5px;
    }
    .headerWrap .container .headerLogin a{
        letter-spacing: 0.2px;
    }
}

@media (max-width: 1170px){
    .content{
        padding: 30px 0;
    }
    .container{
        width:992px;
    }
    .homeHero{
        height:400px;
    }
    .homeGallery{
        height:400px;
    }
    .content .body_cont .right_box{
        padding-right: 50px;
    }
    .content .body_cont .left_nav a{
        padding-left: 20px;
    }
    .headerWrap .container .menu li a {
        margin: 0 10px;
        letter-spacing: .15em;
    }
}

@media (max-width: 992px){
    .container{
        width:768px;
    }
    .homeHero{
        height:300px;
    }
    .homeGallery{
        height:300px;
    }
    .content .body_cont .right_box .right_input_box label{
        width: 136px;
    }
    .content .body_cont .right_box .right_btn{
        margin-left: 136px;
    }
}

@media (max-width: 768px){
    .container{
        width:480px;
    }
    .homeHero{
        height:200px;
    }
    .homeGallery{
        height:200px;
    }
    .content .body_cont{
        display: block;
    }
    .content .body_cont .left_nav{
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .content .body_cont .right_box{
        width: 100%;
    }
    .headerWrap .container .menu{
        transform: translateY(-470px) rotate(-3deg);
        transform-origin: left bottom 0px;
        position: fixed;
        width: 100%;
        left: 0px;
        flex-direction: column;
        top: 74px;
        text-align: right;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        z-index: 11;
        background: #fff;
        &.active{
            transform: translate(0px);
            opacity: 1;
            pointer-events: all;
        }
    }
    header nav {
        display: block;
    }
    .headerWrap .container .menu li a{
        color: #535353;   
        line-height: 40px;
        &:hover{
            color: #5e433c;
        }
    }
    .headerLogin{
        margin-right: 70px;
    }
    .date_sel{
        display: block;
    }
    .date_list{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px){
    .container{
        width:95%;
    }
    .homeHero{
        height:100px;
    }
    .homeGallery{
        height:100px;
    }
    .headerLogin{
        margin-right: 100px;
    }
}